/* 
This file contains styling customization for fonts and colors.
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  --bg-dark-purple: #1f1b40;
  --bg-lighter-purple: #2b2853;
  --button-purple: #a733bb;
  --button-purple-highlight: #d155e7;
  --past-event-orange: #f28f48;
  --background: #00132a;

  --gh-pattern-1: #fff4f9;
  --gh-pattern-2: #ffebf1;
  --gh-pattern-3: #ffe3d7;
  --gh-pattern-4: #ffe2b1;
  --gh-pattern-5: #ffea8b;

  --gh-green-0: #22ae73;
  --gh-green-1: #b9f3cd;
  --gh-green-2: #96ed85;
  --gh-green-3: #73e79c;
  --gh-green-4: #51e183;
  --gh-green-5: #2edc6b;
  --gh-green-6: #21c058;
  --gh-green-7: #1b9d48;
  --gh-green-8: #157a38;
  --gh-green-9: #0f5728;
  --gh-green-10: #062310;

  --gh-blue-0: #e3f1f7;
  --gh-blue-1: #e6ebff;
  --gh-blue-2: #a2ddf6;
  --gh-blue-3: #7dcff2;
  --gh-blue-4: #58c1ee;
  --gh-blue-5: #33b4eb;
  --gh-blue-6: #16a3df;
  --gh-blue-7: #1287ba;
  --gh-blue-8: #0f6c95;
  --gh-blue-9: #0a41fa;
  --gh-blue-10: #101068;

  --gh-grey-1: #cccccc;
  --gh-grey-2: #adadad;
  --gh-grey-3: #999999;
  --gh-grey-4: #757575;
  --gh-grey-5: #666666;

  --gh-pink-1: #fff0f7;
  --gh-pink-2: #efa9ca;
  --gh-pink-3: #e986b4;
  --gh-pink-4: #e3649f;
  --gh-pink-5: #da3582;

  --gh-red-1: #e22452;
  --gh-red-2: #ce2727;
  --gh-red-3: #bc2424;

  --gh-yellow-1: #ffedc2;
  --gh-yellow-2: #f6e4be;
  --gh-yellow-3: #ffd470;
  --gh-yellow-4: #ffc847;

  --gh-orange-1: #ffbc1f;
  --gh-orange-2: #f5ab00;
  --gh-orange-3: #f9aa81;

  --gh-brown-1: #a37200;
  --gh-brown-2: #7a5600;
  --gh-brown-3: #523900;
  --gh-brown-4: #823d40;

  --transition: all 0.3s linear;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

* {
  scroll-behavior: smooth;
  font-family: Plus Jakarta Sans, sans-serif;
  font-weight: 600;
}

.popup-description-small p {
  font-size: 10px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: #ffffff;
  margin-top: 15px;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-white p {
  margin-bottom: 10px; /* Adds space below each paragraph */
  padding-left: 20px; /* Adds some padding to the left for better readability */
  text-indent: -20px; /* Optional: Indents the first line of each paragraph */
  line-height: 1.6; /* Increases the line height for better readability */
}

.underline {
  color: cyan; /* Sets the text color to cyan */
  text-decoration: underline; /* Ensures the text is underlined */
  background-color: transparent !important; /* Sets a transparent background */
}


.active {
  border-bottom: 2px solid #64f6ff; /* Underline color */
  color: #64f6ff; /* Text color */
  display: inline-block; /* Ensures the border applies to the text length */
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.bg-purple {
  background: #00132a;
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.heading {
  font-family: Poppins, sans-serif;
  font-weight: lighter;
  color: white;
  font-size: 44px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

/* BENEFITS */

/* Benefits.css */
.merchandise-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.merchandise-item {
  position: relative;
  margin: 20px 0;
  /* Add width and height if necessary to contain the image and box */
}

.translucent-box {
  position: absolute;
  width: 100%; /* Adjust based on the size of the item */
  height: 100%; /* Adjust based on the size of the item */
  background-color: rgba(255, 255, 255, 0.5); /* Adjust transparency */
  z-index: 0; /* The box should be below the image */
}

.merchandise-image {
  width: 60%; /* Adjust based on the size of the item */
  height: auto;
  z-index: 1; /* The image should be above the box */
  /* Align image to cover the box properly */
  top: 0;
  left: 0;
}

.text-lanyard-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Adjust the padding and margin to fit your layout */
  padding: 20px;
}

.text-box {
  background-color: rgba(255, 255, 255, 0.5); /* Adjust transparency */
  /* Define a width or use padding to control the box size */
  padding: 20px;
  z-index: 100; /* Above the image */
  position: relative; /* Position relative to the text-lanyard-section */
}

.lanyard-image {
  height: auto; /* Adjust as needed */
  /* Adjust width as necessary, could be a percentage or fixed width */
  width: 200px; /* Example fixed width */
  z-index: 1; /* Above the translucent box */
  position: relative; /* Needed to correctly position in the flex container */
}

/* SPONSORS */

.sponsor-content-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsor1-content-mobile {
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Adjust the font size for the sponsor level headings */

.sponsor-level-others {
  background-color: rgba(243, 243, 243, 0.28); /* Semi-transparent white */
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #259dbe;
  margin-bottom: 40px;
  border-radius: 25px;
  margin: 0 auto; /* Centers the element */
  max-width: 1000px;
}

/* Adjust the size of the sponsor images */
.sponsorpd-logo {
  width: 300px; /* Adjust this value to make the images bigger */
  height: auto; /* Maintain aspect ratio */
}

.sponsorpdl-logo {
  width: 700px; /* Adjust based on your logo */
  height: auto;
  margin: 0 auto;
  display: block; /* Ensure logo is treated as a block for centering */
  margin-top: 60px;
  margin-left: 170px;
}

/* Optional: Adjust the layout of the sponsor logo container */
.sponsor-logo-container-s {
  display: flex;
  justify-content: space-around; /* Distribute logos evenly */
  align-items: center; /* Align logos vertically */
  flex-wrap: wrap; /* Allow wrapping of logos */
}






.sponsor-logo-mobile {
  width: 80%; /* Adjust as necessary */
  margin-bottom: 20px; /* Adds space between the logos */
}
.sponsors-container {
  background-color: #00132a; /* Light grey background */
  padding: 40px;
}

.sponsor-level {
  background-color: rgba(243, 243, 243, 0.28); /* Semi-transparent white */
  padding: 10px;
  font-size: 39px;
  font-weight: bold;
  text-align: center;
  color: #e8830d;
  margin-bottom: 40px;
  border-radius: 25px;
  margin: 0 auto; /* Centers the element */
  max-width: 1100px;
}

.sponsor-level-silver {
  background-color: rgba(243, 243, 243, 0.28); /* Semi-transparent white */
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #259dbe;
  margin-bottom: 40px;
  border-radius: 25px;
  margin: 0 auto; /* Centers the element */
  max-width: 1000px;
}

.sponsor-level-gold {
  background-color: rgba(243, 243, 243, 0.28); /* Semi-transparent white */
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #57d0c9;
  margin-bottom: 40px;
  border-radius: 25px;
  margin: 0 auto; /* Centers the element */
  max-width: 1000px;
}

.sponsor-content {
  color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center; /* Center align the content */
  font-size: 20px;
}

.sponsor-logo {
  width: 400px; /* Adjust based on your logo */
  height: auto;
  margin: 0 auto; /* Center the logo */
  display: block; /* Ensure logo is treated as a block for centering */
  margin-top: 60px;
}

.sponsorpd-logo {
  width: 700px; /* Adjust based on your logo */
  height: auto;
  margin: 0 auto; /* Center the logo */
  margin-right: 20px;
  display: block; /* Ensure logo is treated as a block for centering */
  margin-top: 60px;
}

.sponsor-logo-sg {
  width: 400px; /* Adjust based on your logo */
  height: auto;
  margin: 0 auto; /* Center the logo */
  display: block; /* Ensure logo is treated as a block for centering */
  margin-top: 20px;
  border-radius: 0.6cm;
}

.sponsor-description h1 {
  margin-top: 0;
  font-size: 28px;
  margin-bottom: 15px;
}

.sponsor-logo-container {
  margin-bottom: 45px; /* Space between logo and text */
}

.sponsor-logo-container-s {
  display: grid; /* Use CSS grid */
  grid-template-columns: auto auto; /* Display two columns with automatic widths */
}

.sponsor-description p {
  max-width: 900px; /* Or any other value that suits your design */
  margin: 0 auto; /* This centers the div */
  text-align: center;
}
@media (max-width: 768px) {
  .sponsor-logo-container-s {
    flex-direction: column; /* Stack child elements vertically */
  }

  .sponsor-logo-sg {
    width: 80%; /* Adjust the width as needed for smaller screens */
    margin: 0 auto 10px; /* Center the logo with automatic horizontal margins and add some space below */
  }
}

/* NAVIGATION BAR */

/* index.css */
.navbar-special-margin {
  margin-left: 0px !important;
}

.nav {
  background-color: #00132a;
  color: white;
  width: 100%;
  min-width: auto;
  max-width: auto;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  padding: 0.5rem 3rem;
  position: fixed;
  z-index: 30;
  top: 0;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
  display: flex;
  gap: 1.5rem;
  cursor: pointer;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  padding: 0.2rem;
}

#nav-register-button {
  background-color: #00132a;
  border: 2px solid white;
  height: 70%;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  transition: 0.1s;
}

#nav-register-button:hover {
  background-color: #01234d;
}

#nav-register-button a {
  color: white;
  width: inherit;
  height: 90%;
  align-items: center;
  display: inline-flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 30px;
  font-weight: 600;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  width: 80%;
  height: 190px;
  background-color: var(--gh-blue-3);
  background-attachment: fixed;
  background-size: cover;
}
.header-text-1,
.header-text-2 {
  margin-bottom: 20px;
  color: #fff;
}

.expendable-button {
  background-color: transparent;
  color: var(--gh-blue-5);
  gap: 8px;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  width: 2px;
  margin-right: 10px;
}

.main-title {
  margin: 20px 0 10px 0;
  text-align: left;
  font-weight: 500;
}

.main-title-underline {
  width: 320px;
  text-align: left;
  height: 0.15rem;
  background: var(--gh-blue-10);
  margin-bottom: 40px;
}
.accordion-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-end;
  width: 100%;
  font: Poppins;
  font-size: 20px;
  font-weight: lighter;
  margin-top: 15px;
  color: white;
}

.underline {
  width: 100%;
  height: 0.15rem;
  background: var(--gh-blue-2);
  margin: 20px auto;
}
.column-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.column-container:hover {
  background-color: #01234d;
  width: 100%;
}
.column-text {
  color: white;
}

.text-container {
  text-align: left;
  max-height: 350px;
  opacity: 1;
  animation-name: textanimate;
  animation-duration: 1s;
  color: #29b1ed;
}

@keyframes textanimate {
  0% {
    opacity: 0;
    max-height: 15px;
  }
  100% {
    opacity: 1;
    max-height: 350px;
  }
}




/* For navbar fixed position and link scroll test purposes  */
/* .about,.signup,.timeline,.problems,.contact {
  height: 1000px;
} */

/* FAQ PAGE */

.faq {
  align-items: center;
  background-color: var(--bg-dark-purple);
}

.faq-accordion {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.faq-item {
  background: var(--bg-lighter-purple);
  margin-bottom: 15px;
  padding: 20px 25px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 40px;
}

.faq-item-title {
  font-family: Lexend Deca, sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-item-content {
  color: white;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.faq-item-content-show {
  color: white;
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

/* PAST EVENTS */

.past-event-container {
  position: relative;
  text-align: center;
}

.past-event-image-title {
  background-color: var(--past-event-orange);
  color: white;
  font-weight: bold;
  width: 100%;
  height: 20%;
  padding: 12px;
  border-radius: 30px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.past-event-image {
  border-radius: 30px;
}

/* PROBLEM STATEMENT AND REASONS */
.reason-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  width: 80%;
}

.problem-statement-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .sponsor-logo-container-s {
    flex-direction: column; /* Stack child elements vertically */
  }

  .sponsor-logo-sg {
    width: 80%; /* Adjust the width as needed for smaller screens */
    margin: 0 auto 10px; /* Center the logo with automatic horizontal margins and add some space below */
  }
  .problem-statement-cards {
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: center;
  }

  .problem-statements h2 {
    font-size: 3xl; /* Adjust font size for the heading on smaller screens */
    margin-bottom: 40px; /* Add margin bottom for spacing */
  }

  .problem-statements .grid-cols-1 {
    grid-template-columns: 1fr; /* Set to a single column for smaller screens */
    gap: 40px;
    margin-right: 20px;
    margin-left: -20px;
  }
}

/* DOWN BUTTON */

.scroll-down {
  height: 50px;
  width: 30px;
  position: relative;
  left: 50%;
  bottom: 10px;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid white;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}

/* PROBLEM STATEMENT CARDS */

.statement-card {
  width: 80%;
  height: 300px;
  background-color: #f3f3f3;
  align-items: center;
  padding: 3rem 2rem;
  margin-left: 50px;
  margin-bottom: 8px;
  height: 95%;
  border-radius: 30px;
  opacity: 60%;
  transition: transform 0.2s; /* Animation */
}

.statement-card-dummy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.statement-card:hover {
  opacity: 100%;
  transform: scale(1.025);
  cursor: pointer;
}

.group:hover .group-hover\:opacity-100 {
  font-size: 30px;
  opacity: 1;
}

.group-hover\:opacity-100 {
  opacity: 0;
  font-size: 30px;
  transition: opacity 0.3s ease;
}

.statement-card-image {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 50%;
}

.statement-card-header {
  text-align: center;
  font-size: 24px;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-family: Poppins, sans-serif;
  font-weight: lighter;
  color: #00132a;
}

.statement-card-description {
  text-align: center;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  color: #00132a;
  font-weight: 400;
}

/* STATEMENT DETAILS */

.statement-top-segment {
  margin-top: 6rem;
  width: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 50px;
}

.statement-lower-segment {
  margin-top: 3rem;
}

/* STATEMENT COUNTDOWN */

.countdown-timer-box {
  background-color: var(--bg-lighter-purple);
  width: 700px;
  align-items: center;
  padding: 4rem 5rem;
  text-align: center;
  border-radius: 30px;
}

.countdown-timer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.countdown-timer-number {
  font-family: Lexend Deca, sans-serif;
  color: white;
  font-size: 70px;
  font-weight: 600;
  opacity: 80%;
  transition: transform 0.2s;
}

.countdown-timer-number:hover {
  opacity: 100%;
  transform: scale(1.05);
}

.countdown-timer-subtext {
  font-family: Poppins, sans-serif;
  color: white;
  font-size: 23px;
  font-weight: 200;
  opacity: 80%;
}

/* DISPLAY BUTTON */

.display-button {
  margin: 3.5rem 0;
  background-color: #00132a;
  border-radius: 45px;
  transition: 0.1s;
  width: 260px;
  border: 2px solid white;
}

.display-button-undefined,
.display-button-none {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  padding: 10rem 20rem;
}

.display-button-left,
.display-button-right {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  padding: 0rem 6rem;
}

.display-button:hover {
  background-color: #01234d;
}

.display-button a {
  color: white;
  width: inherit;
  height: 90%;
  align-items: center;
  display: inline-flex;
  padding-left: 5rem;
  padding-right: 1.5rem;
  border-radius: 50px;
  font-weight: 600;
}

.display-button-left-arrow img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height: 30px;
  margin-right: 30px;
}

.display-button-right-arrow img {
  height: 30px;
  margin-left: 15px;
}

/* POPUP (MODAL) */

.popup-content {
  position: relative;
  background: #e3e0e0;
  border-radius: 25px;
  width: auto;
  margin-left: 20%;
  margin-right: 20%;
  height: auto;
  margin-top: 3em;
  padding: 4em 4em;
  animation: drop 0.5s ease forwards;
  top: -70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup-content-inner {
  margin-top: auto;
  margin-bottom: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 40px;
  gap: 1em;
}

.popup-content-inner-small {
  margin-top: auto;
  margin-bottom: auto;
  display: grid;
  grid-template-columns: 1fr 40px;
  gap: 1em;
}

.popup-right {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.popup-heading {
  font-size: 40px;
  font-family: Poppins, sans-serif;
  color: #00132a;
}

.popup-description {
  font-size: 17px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: #000000;
  margin-top: 15px;
}

.popup-description-small {
  font-size: 10px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: #ffffff;
  margin-top: 15px;
}

.popup-close-button {
  color: rgb(187, 187, 187);
  font-size: 40px;
  /* position: fixed; */
  float: right;
}

.popup-close-button :hover {
  cursor: pointer;
}

.contact-button {
  background-color: var(--bg-lighter-purple);
  color: white;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 30px;
  padding: 1.1em 6em;
  padding-right: 10vw;
  padding-left: 5vw;
  margin-bottom: 20px;
  box-shadow: inset 0 0 0 0 var(--button-purple);
  transition: ease-in 0.3s;
  outline: none;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact-button:hover {
  box-shadow: inset 1200px 0 0 0 var(--button-purple);
  cursor: pointer;
  transform: scale(1.015);
}

.contact-button-icon {
  font-size: 50px;
}

@keyframes drop {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(110%);
    opacity: 1;
  }
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 20%;
  background-image: linear-gradient(to right, #0a1cfe, #00527d, #db4200);
  margin-left: -20%;
  margin-right: -20%;
  margin-top: 100px;
}

.footer-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.footer-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.footer-button {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.9);
}

.footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-family: Lexend Deca, sans-serif;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.9);
  margin-left: 30px;
}

.dropdown_menu {
  /* display: none; */
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: #00132a;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
}

.dropdown_menu_open {
  position: fixed;
  top: 90px;
  background: #00527d;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  padding: 1rem 1rem;
  z-index: 1020;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70%;
}

.dropdown_menu ul,
li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .sponsor-logo-container-s {
    flex-direction: column; /* Stack child elements vertically */
  }

  .sponsor-logo-sg {
    width: 80%; /* Adjust the width as needed for smaller screens */
    margin: 0 auto 10px; /* Center the logo with automatic horizontal margins and add some space below */
  }
  .contact-button {
    background-color: #f3f3f3;
    color: white;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 0.5px;
    padding: 1em 4em;
    padding-right: 10em;
    padding-left: 3em;
    margin-bottom: 20px;
    box-shadow: inset 0 0 0 0 var(--button-purple);
    transition: ease-in 0.3s;
    outline: none;
  }

  .faq-item-title {
    font-family: Lexend Deca, sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .faq-item-content,
  .faq-item-content-show {
    font-size: 14px;
  }

  .statement-card {
    background-color: #f3f3f3;
    align-items: center;
    padding: 1.5rem 1rem;
    height: 100%;
    /* width: 0%; */
    border-radius: 30px;
    opacity: 60%;
    transition: transform 0.2s; /* Animation */
  }

  .statement-card-dummy {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .statement-card:hover {
    opacity: 100%;
    transform: scale(1.025);
    cursor: pointer;
  }

  .statement-card-image {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 50%;
  }

  .statement-card-header {
    text-align: center;
    font-size: 24px;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    font-family: Lexend Deca, sans-serif;
    color: #00132a;
  }

  .statement-card-description {
    text-align: center;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    color: #00132a;
    font-weight: 400;
  }

  .popup-content {
    position: relative;
    background: #00527d;
    border-radius: 25px;
    width: 80%;
    margin-left: 0px;
    margin-right: 0px;
    height: auto;
    margin-top: -26rem;
    padding: 2em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup-content-inner {
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 40px;
    gap: 1em;
  }

  .popup-right {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .popup-heading {
    font-size: 30px;
    font-family: Lexend Deca, sans-serif;
    color: white;
  }

  .popup-description {
    font-size: 15px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: white;
    margin-top: 15px;
  }

  .popup-close-button {
    color: rgb(187, 187, 187);
    font-size: 40px;
    /* position: fixed; */
    float: right;
  }

  .popup-close-button :hover {
    cursor: pointer;
  }
  @keyframes drop {
    0% {
      opacity: 0;
    }
    100% {
      transform: translateY(160%);
      opacity: 1;
    }
  }

  /* NAVIGATION BAR */

  .nav {
    background-color: black;
    color: white;
    width: 100%;
    min-width: auto;
    max-width: auto;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    padding: 0.5rem 2rem;
    position: fixed;
    z-index: 40;
    top: 0;
  }

  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
    display: flex;
    gap: 1rem;
    cursor: pointer;
  }

  .nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    padding: 1rem;
  }

  #nav-register-button {
    background-color: #00527d;
    height: 70%;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    padding: 0.5rem 2rem;
    border-radius: 30px;
    transition: 0.1s;
  }

  #nav-register-button:hover {
    background-color: #00527d;
  }

  #nav-register-button a {
    color: white;
    width: inherit;
    height: 90%;
    align-items: center;
    display: inline-flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 30px;
    font-weight: 600;
  }

  .dropdown_menu {
    /* display: none; */
    position: absolute;
    right: 2rem;
    top: 100px;
    height: 0;
    width: 300px;
    background: var(--bg-lighter-purple);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
  }

  .dropdown_menu.open {
    position: absolute;
    top: 100px;
    margin-top: 100px;
    height: 240px;
  }

  .dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 20%;
    background-color: var(--bg-lighter-purple);
    margin-left: -20%;
    margin-right: -20%;
    margin-top: 100px;
  }

  .footer-content {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  .footer-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .footer-button {
    font-size: 40px;
    color: rgba(255, 255, 255, 0.9);
  }

  .footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-text {
    font-family: Lexend Deca, sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
    margin-left: 30px;
  }

  @media screen and (max-width: 360px) and (max-height: 740px) {
    .popup-content {
      width: 90%; /* Adjust width for smaller screens */
      padding: 1.5em 1.5em; /* Adjust padding for smaller screens */
      top: -550px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  @media (max-width: 1024px) {
    #prizes {
      scroll-margin-top: 140px; /* Use the height of your fixed header */
    }
  }

  .prizes-image-container {
    width: 100%; /* Use a percentage of the parent container */
    max-width: 500px; /* Maximum size of the container */
    margin: auto; /* Center the container */
  }

  .prizes-image {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Make sure the whole image is visible */
  }

  /* Media query for iPad Air specific adjustments */
  @media only screen and (min-device-width: 820px) and (max-device-width: 1180px) and (-webkit-min-device-pixel-ratio: 2) {
    .prizes-image-container {
      /* Adjust the size of the container specifically for iPad Air */
      max-width: 400px; /* Example: you might need to reduce the size */
    }
  }
}
