/* 
This file contains styling customization for fonts and colors.
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  --bg-dark-purple: #1f1b40;
  --bg-lighter-purple: #2b2853;
  --button-purple: #a733bb;
  --button-purple-highlight: #d155e7;
  --past-event-orange: #f28f48;
}

* {
  scroll-behavior: smooth;
  font-family: Plus Jakarta Sans, sans-serif;
  font-weight: 600;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.bg-purple {
  background: var(--bg-dark-purple);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.heading {
  font-family: Lexend Deca, sans-serif;
  font-weight: 700;
  color: white;
  font-size: 44px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

/* NAVIGATION BAR */

.nav {
  background-color: var(--bg-dark-purple);
  color: white;
  width: 100%;
  min-width: auto;
  max-width: auto;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  padding: 0.5rem 3rem;
  position: fixed;
  z-index: 30;
  top: 0;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  padding: 1rem;
}

#nav-register-button {
  background-color: var(--button-purple);
  height: 70%;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  transition: 0.1s;
}

#nav-register-button:hover {
  background-color: var(--button-purple-highlight);
}

#nav-register-button a {
  color: white;
  width: inherit;
  height: 90%;
  align-items: center;
  display: inline-flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 30px;
  font-weight: 600;
}

/* For navbar fixed position and link scroll test purposes  */
/* .about,.signup,.timeline,.problems,.contact {
  height: 1000px;
} */

/* FAQ PAGE */

.faq {
  align-items: center;
  background-color: var(--bg-dark-purple);
}

.faq-accordion {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.faq-item {
  background: var(--bg-lighter-purple);
  margin-bottom: 15px;
  padding: 20px 25px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 40px;
}

.faq-item-title {
  font-family: Lexend Deca, sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-item-content {
  color: white;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.faq-item-content-show {
  color: white;
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

/* PAST EVENTS */

.past-event-container {
  position: relative;
  text-align: center;
}

.past-event-image-title {
  background-color: var(--past-event-orange);
  color: white;
  font-weight: bold;
  width: 100%;
  height: 20%;
  padding: 12px;
  border-radius: 30px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.past-event-image {
  border-radius: 30px;
}

/* PROBLEM STATEMENT AND REASONS */
.reason-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  width: 80%;
}

.problem-statement-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  width: 80%;
}

/* PROBLEM STATEMENT CARDS */

.statement-card {
  background-color: var(--bg-lighter-purple);
  align-items: center;
  padding: 3rem 2rem;
  height: 100%;
  border-radius: 30px;
  opacity: 60%;
  transition: transform .2s; /* Animation */
}

.statement-card-dummy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.statement-card:hover {
  opacity: 100%;
  transform: scale(1.025);
  cursor: pointer;
}

.statement-card-image {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 50%;
}

.statement-card-header {
  text-align: center;
  font-size: 24px;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-family: Lexend Deca, sans-serif;
  color: white;
}

.statement-card-description {
  text-align: center;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  color: white;
  font-weight: 400;
}

/* STATEMENT DETAILS */

.statement-top-segment {
  margin-top: 6rem;
  width: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 50px;
}

.statement-lower-segment {
  margin-top: 3rem; 
}

/* STATEMENT COUNTDOWN */

.countdown-timer-box {
  background-color: var(--bg-lighter-purple);
  width: 700px;
  align-items: center;
  padding: 4rem 5rem;
  text-align: center;
  border-radius: 30px;
}

.countdown-timer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.countdown-timer-number {
  font-family: Lexend Deca, sans-serif;
  color: white;
  font-size: 70px;
  font-weight: 600;
  opacity: 80%;
  transition: transform 0.2s;
}

.countdown-timer-number:hover {
  opacity: 100%;
  transform: scale(1.05);
}

.countdown-timer-subtext {
  font-family: Poppins, sans-serif;
  color: white;
  font-size: 23px;
  font-weight: 200;
  opacity: 80%;
}

/* DISPLAY BUTTON */

.display-button {
  margin: 3.5rem 0;
  background-color: var(--button-purple);
  border-radius: 45px;
  transition: 0.1s;
}

.display-button-undefined, .display-button-none {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  padding: 0rem 5rem;
}

.display-button-left, .display-button-right {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  padding: 0rem 4rem;
}

.display-button:hover {
  background-color: var(--button-purple-highlight);
}

.display-button a {
  color: white;
  width: inherit;
  height: 90%;
  align-items: center;
  display: inline-flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 30px;
  font-weight: 600;
}

.display-button-left-arrow img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height: 30px;
  margin-right: 30px;
}

.display-button-right-arrow img {
  height: 30px;
  margin-left: 15px;
}

/* POPUP (MODAL) */

.popup-content {
  position: relative;
  background: var(--bg-lighter-purple);
  border-radius: 25px;
  width: auto;
  margin-left: 20%;
  margin-right: 20%;
  height: auto;
  margin-top: 3em;
  padding: 4em 4em;
  animation: drop 0.5s ease forwards;
  top: -60%;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content-inner {
  margin-top: auto;
  margin-bottom: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 40px;
  gap: 1em;
}

.popup-right {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.popup-heading {
  font-size: 40px;
  font-family: Lexend Deca, sans-serif;
  color: white;
}

.popup-description {
  font-size: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: white;
  margin-top: 15px;
}

.popup-close-button {
  color: rgb(187, 187, 187);
  font-size: 40px;
  /* position: fixed; */
  float: right;
}

.popup-close-button :hover {
  cursor: pointer;
}

.contact-button {
  background-color: var(--bg-lighter-purple);
  color: white;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 30px;
  padding: 1.1em 3.5em;
  margin-bottom: 20px;
  box-shadow: inset 0 0 0 0 var(--button-purple);
  transition: ease-in 0.3s;
  outline: none;
  /* transition: 0.4s;
  position: relative;
  overflow: hidden; */
}

/* .contact-button:hover {
  background-color: var(--button-purple);
}

.contact-button::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--button-purple);
  z-index: -1;
  transition: 0.4s;
  top: 0;
  border-radius: 0 0 50% 50%;
}

.contact-button:hover::before {
  height: 180%;
} */
.contact-button:hover {
  box-shadow: inset 1200px 0 0 0 var(--button-purple);
  cursor: pointer;
  transform: scale(1.015)
}

.contact-button-icon {
  font-size: 50px;
}


@keyframes drop {
  0% {opacity: 0}
  100% { transform: translateY(110%); opacity: 1;}
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 20%;
  background-color: var(--bg-lighter-purple);
  margin-left: -20%;
  margin-right: -20%;
  margin-top: 100px;
}

.footer-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.footer-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.footer-button {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.9);
}

.footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-family: Lexend Deca, sans-serif;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.9);
  margin-left: 30px;
}